.page {
    width: 75%;
    margin: 12.5%;
    align-items: center;
}

.twoColumn {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 2.5rem;                    
  align-items: center;            
}


h1 {
    margin: 2rem;
}