:root {
  font-family: 'Georgia', '微软雅黑', serif;
  line-height: 1.5;
  font-weight: 400;

  color: #252525;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

body {
  min-width: 220px;
  background-color: #ffffff;
  color: #000000;
  display: block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 6rem;
  line-height: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #252525;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #828282;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}